

@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');


:root 
{
  --color_background: rgb(251, 251, 251);
  --color_foreground: rgb(30, 30, 30);
  --color_gray: rgb(166, 166, 166);
}


* {
  margin:  0;
  padding: 0;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}


body 
{
  background-color: var(--color_background);
  color: var(--color_foreground);

  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;

  width:  100vw;
  height: 100vh;
}


main 
{
  width:  100%;
  height: 100%;
}


nav 
{
  width:  100%;
  height: 100%;
  
  overflow: auto;
}


a 
{
  display: block;
  padding-left: 20px;

  text-decoration: none;
  color: var(--color_foreground);
  line-height: 1.5;

  cursor: pointer;
}
a:link    { text-decoration:none; }
a:hover   { text-decoration:underline; }
a:active  { text-decoration:none; }
a:visited { text-decoration:none; }


#back
{
  height: 41px;

  background-color: var(--color_gray);

  display: grid;
  place-items: center start;
  padding-left: 10px;
}


h1 
{
  width: 100%;

  margin-top: 2em;
  height: 2em;

  display: grid;
  place-items: center start;
  padding-left: 10px;
  
  font-weight: 700;
  font-size: 1.15em;
  line-height: 1.5;
  text-transform: uppercase;
}


h2 
{
  width: 100%;

  margin-top: 3em;
  height: 2em;
  margin-bottom: 0em;

  display: grid;
  place-items: center start;
  padding-left: 10px;

  font-weight: 700;
  font-size: 0.8em;
  line-height: 1.5;
  text-transform: uppercase;
}


h3 
{
  width: 100%;

  margin-top: 3em;
  height: 2em;

  display: grid;
  place-items: center start;
  padding-left: 10px;

  font-weight: 700;
  font-size: 0.8em;
  line-height: 1.5;
  text-transform: uppercase;

  color: var(--color_gray);
}


p 
{
  padding-left: 20px;
  color: var(--color_foreground);
  line-height: 1.5;
}


p a { padding-left: 0px; }
p i { padding-left: 20px; }

b 
{
  font-weight: 500;
  text-transform: uppercase;
}

footer 
{
  height: 40px;
}

