

@charset "UTF-8";


:root 
{
  --color_background: rgb(250, 250, 248);
  --color_middleground: rgb(200, 200, 200);
  --color_foreground: rgb(0, 10, 20);
}


* {
  margin:  0;
  padding: 0;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}


body 
{
  background-color: var(--color_background);
  color: var(--color_foreground);

  font-family: sans-serif;
  font-size: 14px;
  line-height:20px;
}

h1 
{
  margin-top: 30px;
  font-size: 15px;
}

a:link 
{
  color: var(--color_foreground);
  text-decoration: none;
}
a:visited { color: var(--color_foreground); }
a:hover { text-decoration: underline; }


#student_project  
{
  width: 100%;
  height: 100vh;

  float: left;
}

footer 
{
  padding-left: 20px;
  padding-right: 20px;
}

.project_options 
{
  width: 50%;
  float: left;

  padding-top: 10px;
}

#more_info 
{
  visibility: hidden;
  float: right;
}

#help 
{
  visibility: hidden;
  float: right;
}

.project_list 
{
  width: 33%;
  float: left;
}

nav { padding-bottom: 30px; }

ul { list-style-type: none; }
