

@charset "UTF-8";


:root 
{
  --color_background_arduino: rgb(218, 227, 227);
}


body 
{
  background-color: var(--color_background_arduino);
}


main 
{
  display: grid;
  grid-template-columns: 22% 78%;
  place-items: start start;
}


iframe 
{
  width:  100%;
  height: 100%;
  
  overflow: auto;
  border: none;
  border-left: 1px dashed var(--color_gray);
}

h1 
{
  margin: 0;
  height: 66px;

  border-top: 1px dashed var(--color_gray);
  border-bottom: 1px dashed var(--color_gray);
}

