

@charset "UTF-8";


:root 
{
  --color_background_codepen: rgb(254, 254, 254);
  --color_foreground_codepen: rgb(30, 30, 30);
  --color_gray_codepen: rgb(238, 238, 238);
}


body 
{
  background-color: var(--color_background_codepen);
}


main 
{
  display: grid;
  grid-template-columns: 22% 78%;
  place-items: start start;
}


iframe 
{
  width:  100%;
  height: 100%;
  
  overflow: auto;
  border: none;
  border-left: 1px solid var(--color_gray_codepen);
}

h1 
{
  margin: 0;
  height: 66px;

  border-top: 1px solid var(--color_gray_codepen);
  border-bottom: 1px solid var(--color_gray_codepen);
}

#back
{
  height: 51px;
  background-color: var(--color_gray_codepen);
}

h2~a { margin-bottom: 8px; }

h3 
{
  color: var(--color_foreground_codepen);
}

