

@charset "UTF-8";


:root 
{
  --color_background: rgb(250, 250, 248);
  --color_middleground: rgb(200, 200, 200);
  --color_foreground: rgb(0, 10, 20);
}


* {
  margin:  0;
  padding: 0;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}


body 
{
  background-color: var(--color_background);
  color: var(--color_foreground);

  font-family: sans-serif;
  font-size: 14px;
}


section 
{
  width: 50%;
  height: 100vh;

  float: left;
  overflow: auto;
}


#code 
{
  padding: 15px 0px 0px 15px;
}


#defaultCanvas0 
{
  display: block;
}


hr 
{
  margin: 25px 0px 25px 0px;
}


h2 { margin-top: 10px; }


.hide 
{
  display: none;
}

a:link { color: var(--color_foreground); }
a:visited { color: var(--color_foreground); }
.disabled:link { color: var(--color_middleground); }
.disabled:visited { color: var(--color_middleground); }

footer 
{
  text-align: center;
  height: 50px;
}

