

@charset "UTF-8";


* {
  margin:  0;
  padding: 0;
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*
  outline: 1px dashed blueviolet;
  outline-offset: -1px;
  */
}


section 
{
  width: 50%;
  height: 100vh;

  float: left;
  overflow: auto;
}


#defaultCanvas0 
{
  display: block;
}


.hide 
{
  display: none;
}

